<div align = "center">
<h1>Welcome to Moonlyt!</h1><br />
<p>We are currently far from beta (as you can tell by our bare bones layout), but we are here to stay.</p><br />
<a href = "/signin">Click to Sign In</a><br />
<a href = "/users/new">Click to Register</a><br />
</div>
